<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" thread-count="2" parallel="tests">

  <test name="Testingsites">
    	<classes>
    		<class name="com.app.sunbeam.tests.Test1" />
    		<class name="com.app.sunbeam.tests.Test2" />
    		<class name="com.app.sunbeam.tests.Test3" />
    	</classes>
    	
    </test>
    
<!--    <test name="Testing site2">
    	<classes>
    		<class name="com.app.sunbeam.tests.Test2" />
    	</classes>
    </test>

	<test name="Testing site3">
    	<classes>
    		<class name="com.app.sunbeam.tests.Test3" />
    	</classes>
    </test>   -->

</suite>